name: Blogshpere Backend API Pipeline

on:
  push:
    branches:
      - ci/pipeline
    paths:
    - blogsphere/**
    - 'docker-compose.yml'
    - .github/workflows/*-backend.yml

jobs:
  compile: 
    runs-on: ubuntu-latest
    name: Compile Project
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: 'corretto'

      - name : Compile Project
        run: |
          cd blogsphere
          mvn clean compile 

  build:
    runs-on: ubuntu-latest
    name: Build Backend
    needs: [compile]
    steps: 
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: 'corretto'

      - name : Build Package
        run: |
          cd blogsphere
          mvn clean package -DskipTests
  
  build-image:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: 'corretto'

      - name: Extract Project Version
        id: extract_version
        run: |
          cd blogsphere
          echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT

      - name: Login To DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build & Push To DockerHub
        uses: docker/build-push-action@v5
        with:
          context: ./blogsphere
          file: ./blogsphere/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/blogsphere-api:${{ steps.extract_version.outputs.VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/blogsphere-api:latest
          build-args: |
            APP_VERSION=${{ steps.extract_version.outputs.VERSION }}

  deploy:
    name: Deploy Backend
    runs-on: ubuntu-latest
    needs: [build-image]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: 'corretto'

      - name: Extract Project Version
        id: extract_version
        run: |
          cd blogsphere
          echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT

      - name: Create Deployment Folder
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          script: |
              mkdir -p ci-cd
              cd ci-cd
              touch .env
              # Update or append API_VERSION
              if grep -q "API_VERSION=" .env; then
                sed -i 's/API_VERSION=.*/API_VERSION=${{ steps.extract_version.outputs.VERSION }}/g' .env
              else
                echo "API_VERSION=${{ steps.extract_version.outputs.VERSION }}" >> .env
              fi
              # Update or append DOCKER_USERNAME
              if grep -q "DOCKER_USERNAME=" .env; then
                sed -i 's/DOCKER_USERNAME=.*/DOCKER_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}/g' .env
              else
                echo "DOCKER_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}" >> .env
              fi

      - name: Copy docker-compose File
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          source: "docker-compose.yaml"
          target: "ci-cd"

      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          envs: DOCKER_USERNAME,DOCKER_TOKEN
          script: |
            echo "$DOCKER_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
            cd ci-cd
            docker compose -f docker-compose.yaml pull -q
            docker compose -f docker-compose.yaml up -d